ETL- INDIVIDUAL PROJECT - HENRY MLOPS

Import Needed Libraries for this project

In [20]:
import pandas as pd
import numpy as np
import json
import ast

After fixing dataset structure , next step is to load the dataset

In [104]:
df=pd.read_csv("Dataset_original/movies_dataset_arreglado_1.csv",delimiter=";")

C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\4213308071.py:1: DtypeWarning: Columns (10,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("Dataset_original/movies_dataset_arreglado_1.csv",delimiter=";")

Litle description of the dataset

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45462 entries, 0 to 45461
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45462 non-null  bool
 1   belongs_to_collection  4491 non-null   object
 2   budget                 45462 non-null  int64
 3   genres                 45462 non-null  object
 4   homepage               7778 non-null   object
 5   id                     45462 non-null  int64
 6   imdb_id                45445 non-null  object
 7   original_language      45451 non-null  object
 8   original_title         45462 non-null  object
 9   overview               44508 non-null  object
 10  popularity             45462 non-null  object
 11  poster_path            45079 non-null  object
 12  production_companies   45462 non-null  object
 13  production_countries   45462 non-null  object
 14  release_date           45378 non-null  object
 15  revenue                45462 non-null  object
 16  runtime                45205 non-null  float64
 17  spoken_languages       45462 non-null  object
 18  status                 45380 non-null  object
 19  tagline                20413 non-null  object
 20  title                  45461 non-null  object
 21  video                  45461 non-null  object
 22  vote_average           45461 non-null  float64
 23  vote_count             45461 non-null  object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 8.0+ MB

First task: Remove columns that will not be used, video,imdb_id,adult,original_title,vote_count,poster_path and homepage.

In [106]:
df.drop(["video","imdb_id","adult","original_title","vote_count","poster_path", "homepage"],axis=1,inplace=True)

Second task: The null values ​​of the fields revenue, budget must be filled with the number 0

In [107]:
df.budget.fillna(0,inplace=True)
df.revenue.fillna(0, inplace=True)

Third task: The null values from release_date field must be deleted.

In [108]:
df.dropna(subset=['release_date'],inplace=True)
df.reset_index(drop=True)
df

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5
3,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45456,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7
45458,NaN,0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0
45459,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8
45460,NaN,0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0,87.0,[],Released,NaN,Satan Triumphant,0.0
45461,NaN,0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0

Third task :If there are dates, they must have the format YYYY-mm-dd, and it must also create the release_year column where they will extract the year of the release date.

In [109]:
df.release_date=pd.to_datetime(df['release_date'], format='%Y-%m-%d', errors='coerce')

In [111]:
df["release_year"]=df.release_date.dt.year
df.reset_index(drop=True,inplace=True)
df.dropna(subset=['release_date'], inplace=True)
df['release_year'] = df['release_year'].astype(int, errors = 'raise')

Fourth task: The null values from release_date field must be deleted.

In [112]:
df.dropna(subset=['release_date'], inplace=True)
df.reset_index(drop=True,inplace=True)

Fifth task: Create the column with the return on investment, called return with the revenue and budget fields, dividing these last two revenue / budget, when there is no data available to calculate it, it must take the value 0.

In [113]:
df['revenue'] = df['revenue'].astype(float, errors = 'raise')
df['budget'] = df['budget'].astype(float, errors='raise')

In [114]:
df["return"]=df.revenue.div(df.budget.replace(0,np.nan)).fillna(0)

In [115]:
df

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.000000
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45372,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,1991,0.000000
45373,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",111109,tl,An artist struggles to finish his work while a...,0.178241,"[{'name': 'Sine Olivia', 'id': 19653}]","[{'iso_3166_1': 'PH', 'name': 'Philippines'}]",2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,2011,0.000000
45374,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,"[{'name': 'American World Pictures', 'id': 6165}]","[{'iso_3166_1': 'US', 'name': 'United States o...",2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,2003,0.000000
45375,NaN,0.0,[],227506,en,"In a small town live two brothers, one a minis...",0.003503,"[{'name': 'Yermoliev', 'id': 88753}]","[{'iso_3166_1': 'RU', 'name': 'Russia'}]",1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,1917,0.000000
45376,NaN,0.0,[],461257,en,50 years after decriminalisation of homosexual...,0.163015,[],"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]",2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,2017,0.000000

Sixth Task:Some fields, like belongs_to_collection, production_companies and others (see data dictionary) are nested, that is, they either have a dictionary or a list as values ​​in each row, you will need to un-nest them to be able to join the dataset again to do any of the queries! from the API! Or find a way to access that data without un-nested.

Belongs_to_collection => Dictionary

In [116]:
def convert_diccionario(diccionario):
    if isinstance(diccionario,str) and "{" in diccionario:
        dic=ast.literal_eval(diccionario)
        return dic["name"]

In [117]:
df["belongs_to_collection"]=df["belongs_to_collection"].apply(convert_diccionario)

Production_companies => List

In [118]:
def convert_lista(lista):
    if isinstance(lista, str) and "{" in lista:
        L=[]
        for i in ast.literal_eval(lista):
            L.append(i["name"])
        return L

In [119]:
df["production_companies"]=df["production_companies"].apply(convert_lista)

In [ ]:
df["genres"]=df["genres"].apply(convert_lista)
df["production_countries"]=df["production_countries"].apply(convert_lista)
##df["spoken_languages"]=df["spoken_languages"].apply(convert_lista)

In [122]:
df

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000.0,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,1995,12.451801
1,None,65000000.0,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.043035
2,Grumpy Old Men Collection,0.0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.000000
3,None,16000000.0,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[Twentieth Century Fox Film Corporation],[United States of America],1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.090760
4,Father of the Bride Collection,0.0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,"[Sandollar Productions, Touchstone Pictures]",[United States of America],1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45372,None,0.0,"[Drama, Action, Romance]",30840,en,"Yet another version of the classic epic, with ...",5.683753,"[Westdeutscher Rundfunk (WDR), Working Title F...","[Canada, Germany, United Kingdom, United State...",1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,5.7,1991,0.000000
45373,None,0.0,[Drama],111109,tl,An artist struggles to finish his work while a...,0.178241,[Sine Olivia],[Philippines],2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,9.0,2011,0.000000
45374,None,0.0,"[Action, Drama, Thriller]",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,[American World Pictures],[United States of America],2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,3.8,2003,0.000000
45375,None,0.0,None,227506,en,"In a small town live two brothers, one a minis...",0.003503,[Yermoliev],[Russia],1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,0.0,1917,0.000000
45376,None,0.0,None,461257,en,50 years after decriminalisation of homosexual...,0.163015,None,[United Kingdom],2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,0.0,2017,0.000000

Export Dataset

In [ ]:
df.to_csv("dataset_API1.csv")

In [69]:
for i in range(df.shape[0]):
    try:
        df.genres.iloc[i]=",".join(df.genres.iloc[i])
    except:
        df.genres.iloc[i]=np.nan

C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\2424366865.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.genres.iloc[i]=",".join(df.genres.iloc[i])
C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\2424366865.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.genres.iloc[i]=np.nan

In [89]:
af1=dfffff.genres.str.split(',',expand=True)

In [97]:
af1[0][af1[0]=="Animation"]

0        Animation
309      Animation
387      Animation
581      Animation
589      Animation
           ...
45305    Animation
45367    Animation
45382    Animation
45384    Animation
45445    Animation
Name: 0, Length: 1124, dtype: object

In [102]:
af2=af1[0][(af1[0]=="Animation") | (af1[1]=="Animation") | (af1[2]=="Animation") | (af1[3]=="Animation") | (af1[4]=="Animation") | (af1[5]=="Animation") | (af1[6]=="Animation") | (af1[7]=="Animation")]

In [103]:
af2

0        Animation
12          Family
47       Adventure
235        Romance
240        Fantasy
           ...
45367    Animation
45382    Animation
45384    Animation
45433       Family
45445    Animation
Name: 0, Length: 1935, dtype: object

In [45]:
df4=df.belongs_to_collection[0]
    
res=json.loads(df4)
df5 = pd.DataFrame([res])
df2=df.belongs_to_collection[2]
    
res1=json.loads(df2)
df6 = pd.DataFrame([res1])




df5.merge(df6,how="inner",on="id")

Empty DataFrame
Columns: [id, name_x, poster_path_x, backdrop_path_x, name_y, poster_path_y, backdrop_path_y]
Index: []

In [173]:
df.belongs_to_collection.astype(str)

0        {"id": 10194, "name": "Toy Story Collection", ...
1                                                      nan
2        {"id": 119050, "name": "Grumpy Old Men Collect...
3                                                      nan
4        {"id": 96871, "name": "Father of the Bride Col...
                               ...
45457                                                  nan
45458                                                  nan
45459                                                  nan
45460                                                  nan
45461                                                  nan
Name: belongs_to_collection, Length: 45462, dtype: object

In [189]:
import json
dff=pd.DataFrame()
for i in range(df.shape[0]):
    
    df4=df.belongs_to_collection[i]
    try :
        res=json.loads(df4)
        
    except Exception:
        res={}
    df5 =pd.DataFrame([res])
    dff=pd.concat([dff,df5])

dff.reset_index()

,index,id,name,poster_path,backdrop_path
0,0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,0,NaN,NaN,NaN,NaN
2,0,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,0,NaN,NaN,NaN,NaN
4,0,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
...,...,...,...,...,...
45457,0,NaN,NaN,NaN,NaN
45458,0,NaN,NaN,NaN,NaN
45459,0,NaN,NaN,NaN,NaN
45460,0,NaN,NaN,NaN,NaN
45461,0,NaN,NaN,NaN,NaN

In [179]:
df.belongs_to_collection.iloc[75]=df.belongs_to_collection.iloc[75].replace("None", '"Nada"')

C:\Users\angeo\AppData\Local\Temp\ipykernel_10744\4092362286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.belongs_to_collection.iloc[75]=df.belongs_to_collection.iloc[75].replace("None", '"Nada"')

In [184]:
df4=df.belongs_to_collection[0]
if df4:    
    res=json.loads(df4)
    pass
else:
    res={}
df5 =pd.DataFrame([res])
df5

,id,name,poster_path,backdrop_path
0,10194,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg

In [1]:
df5=df.genres[0]

for i in range(len(df5)):
    if df5[i]:
        res=json.loads(df5[i])
        pass
    else:
        res={}
    df7=pd.DateFrame([df5[i]])
df5

NameError: name 'df' is not defined

In [16]:
df.production_countries.iloc[150]
a = df.production_countries.iloc[150].split('},')
dff=pd.DataFrame()
dfff=pd.DataFrame()
for i in range(len(a)):
    try:
        res = json.loads(a[i])
    except Exception:
        res = {}
    df5 = pd.DataFrame([res])
    dff = pd.concat([dff, df5])
    dfff=dfff.join(df5)
dff.reset_index()
dfff

ValueError: columns overlap but no suffix specified: Index(['iso_3166_1', 'name'], dtype='object')

In [10]:
df.production_countries=df.production_countries.str.replace("\'", "\"")
df.production_countries=df.production_countries.str.replace("\[", "")
df.production_countries=df.production_countries.str.replace("\]", "")
df.production_countries=df.production_countries.str.replace("},","}},")

C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\3347774923.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.production_countries=df.production_countries.str.replace("\[", "")
C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\3347774923.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df.production_countries=df.production_countries.str.replace("\]", "")
C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\3347774923.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df.production_countries=df.production_countries.str.replace("},","}},")

In [6]:
df.production_countries=df.production_countries.str.replace("},","}},")

C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\172449127.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df.genres=df.genres.str.replace("},","}},")

In [213]:
df.genres.iloc[0]
a=df.genres.iloc[0].split('},')

In [5]:
df.genres=df.genres.str.replace("\'", "\"")
df.genres=df.genres.str.replace("\[", "")
df.genres=df.genres.str.replace("\]", "")

C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\1482484019.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.genres=df.genres.str.replace("\[", "")
C:\Users\angeo\AppData\Local\Temp\ipykernel_6080\1482484019.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df.genres=df.genres.str.replace("\]", "")

In [174]:
df.belongs_to_collection.fillna("",inplace=True)

In [158]:
df.belongs_to_collection=df.belongs_to_collection.str.replace("\'", "\"")